<!--<h1>View</h1>-->
<table class = "assets-list">
    <tr>
        <th></th>
        <th>Asset ID</th>
        <th>Raw JSON</th>
    </tr>
    <% @all_assets.each do |asset| %>
        <tr>
            <td class = "item-icon"><img src="https://images.evetech.net/types/<%= asset["type_id"] %>/icon?size=64&tenant=tranquility"/></td>
            <td class = "item-name"> <%= asset["name"] %></td>
            <td class = "item-json"> <%= asset %></td>
        </tr>
    <% end %>
</table>
